RewriteEngine on
ErrorDocument 404 /view/error/404.php
ErrorDocument 500 /view/error/500.php

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R]

# Rewrite Url
RewriteRule ^index.html$ index.php [L]
RewriteRule ^home$ index.php [L]
RewriteRule ^reg.html$ index.php?modun=account&act=register_v2 [L]
RewriteRule ^login.html$ index.php?modun=account&act=login_v2 [L]
RewriteRule ^dang-ki$ index.php?modun=account&act=register_v2 [L]
RewriteRule ^dang-nhap$ index.php?modun=account&act=login_v2 [L]
RewriteRule ^verify.html$ view/account/verify.php [L]
RewriteRule ^user/dang-xuat$ view/account/out.php [L]
RewriteRule ^user/vai.php$ view/account/fb-login.php [L]

 # Rewrite Pages
RewriteRule ^wheel/(.*)-([0-9]+).html$ index.php?modun=vongquaykimcuong&act=index&id=$2 [L]
RewriteRule ^body/random/KC2$ index.php?modun=game/homthinhbian&act=index [L]
RewriteRule ^body/random/KC2/page=([0-9]+)$ index.php?modun=game/homthinhbian&act=index&page=$1 [L]
RewriteRule ^body/random/KC1$ index.php?modun=game/kimcuong&act=index [L]
RewriteRule ^body/random/KC1/page=([0-9]+)$ index.php?modun=game/kimcuong&act=index&page=$1 [L]
RewriteRule ^html/quay11$ index.php?modun=game/bingo&act=index [L]
RewriteRule ^html/moruong$ index.php?modun=game/rongthan&act=index [L]
RewriteRule ^html/dragon index.php?modun=game/dragon&act=index [L]
RewriteRule ^html/daplon$ index.php?modun=game/daplon&act=index [L]
RewriteRule ^html/quay12$ index.php?modun=game/bingo2&act=index [L]
RewriteRule ^html/quay6$ index.php?modun=game/bingo3&act=index [L]
RewriteRule ^html/quay9$ index.php?modun=game/bingo4&act=index [L]
RewriteRule ^html/quayso3$ index.php?modun=game/sieucap&act=index [L]
RewriteRule ^body/random/FREEFIRE$ index.php?modun=freefire&act=index [L]
RewriteRule ^body/random/FREEFIRE/page=([0-9]+)$ index.php?modun=freefire&act=index&page=$1 [L]
RewriteRule ^body/random/FREEFIRE/acc/([0-9]+).html$ index.php?modun=freefire&act=xem_them&id=$1 [L]
RewriteRule ^body/mohom$ index.php?modun=game/mohom&act=index [L]
RewriteRule ^body/mohom/ghepkimcuonghong$ index.php?modun=game/mohom&act=doikimcuonghong [L]
RewriteRule ^body/lienquan$ index.php?modun=lienquan&act=index [L]
RewriteRule ^body/lienquan/page=([0-9]+)$ index.php?modun=lienquan&act=index&page=$1 [L]
RewriteRule ^body/lienquan/acc/([0-9]+).html$ index.php?modun=lienquan&act=xem_them&id=$1 [L]

RewriteRule ^html/latbai$ index.php?modun=game/latthe&act=index [L]
RewriteRule ^html/latbai2$ index.php?modun=game/latthe2&act=index [L]
RewriteRule ^random/freefire/(.*)$ index.php?modun=random_freefire&act=index&cname=$1 [L]
RewriteRule ^random/freefire/(.*)/page=([0-9]+)$ index.php?modun=random_freefire&act=index&cname=$1&page=$2 [L]

RewriteRule ^random/lienquan/(.*)$ index.php?modun=random_lienquan&act=index&cname=$1 [L]
RewriteRule ^random/lienquan/(.*)/page=([0-9]+)$ index.php?modun=random_lienquan&act=index&cname=$1&page=$2 [L]

#user profile rewrite
RewriteRule ^user/profile$ index.php?modun=profile&act=index&cmd=profile_member [L]
RewriteRule ^user/doimatkhau$ index.php?modun=profile&act=index&cmd=doi_mat_khau [L]

RewriteRule ^user/tran-log$ index.php?modun=profile&act=index&cmd=giaodich_member [L]
RewriteRule ^user/tran-log/page=([0-9]+)$ index.php?modun=profile&act=index&cmd=giaodich_member&page=$1 [L]

RewriteRule ^nap-the$ index.php?modun=profile&act=index&cmd=napthe_tsr [L]
RewriteRule ^nap-the.html$ index.php?modun=profile&act=index&cmd=napthe_tsr [L]
RewriteRule ^nap-the2$ index.php?modun=profile&act=index&cmd=napthe_cv [L]

RewriteRule ^deposit-history$ index.php?modun=profile&act=index&cmd=history_nap [L]
RewriteRule ^deposit-history/page=([0-9]+)$ index.php?modun=profile&act=index&cmd=history_nap&page=$1 [L]

RewriteRule ^user/withdrawruby/2$ index.php?modun=profile&act=index&cmd=withdrawruby [L]
RewriteRule ^user/lichsurutkimcuong$ index.php?modun=profile&act=index&cmd=lich_su_rut_kim_cuong [L]
RewriteRule ^user/lichsurutkimcuong/page=([0-9]+)$ index.php?modun=profile&act=index&cmd=lich_su_rut_kim_cuong&page=$1 [L]
RewriteRule ^tran/acc$ index.php?modun=profile&act=index&cmd=history_acc [L]
RewriteRule ^tran/acc/page=([0-9]+)$ index.php?modun=profile&act=index&cmd=history_acc&page=$1 [L]

RewriteRule ^tran/acclq$ index.php?modun=profile&act=index&cmd=history_acclq [L]
RewriteRule ^tran/acclq/page=([0-9]+)$ index.php?modun=profile&act=index&cmd=history_acclq&page=$1 [L]

RewriteRule ^tran/quay$ index.php?modun=profile&act=index&cmd=history_quay [L]
RewriteRule ^tran/quay/page=([0-9]+)$ index.php?modun=profile&act=index&cmd=history_quay&page=$1 [L]

RewriteRule ^tran/random$ index.php?modun=profile&act=index&cmd=history_random [L]
RewriteRule ^tran/random/page=([0-9]+)$ index.php?modun=profile&act=index&cmd=history_random&page=$1 [L]
RewriteRule ^user/page=([0-9]+)$ index.php?modun=profile&act=index&cmd=game/random_ff&page=$1 [L]

 # Rewrite Module
RewriteRule ^system/user$ model/account/user.php [L]

RewriteRule ^check/napthe$ model/account/napthe.php [L]
RewriteRule ^system/quay$ model/vongquaykimcuong/xuly.php [L]
RewriteRule ^system/mohom$ model/mohom/mohom.php [L]
RewriteRule ^system/daplon$ model/daplon/xuly.php [L]
RewriteRule ^system/choithu$ model/quay/choithu.php [L]
RewriteRule ^system/bingo$ model/game/bingo/xuly.php [L]
RewriteRule ^system/bingochoithu$ model/game/bingo/choithu.php [L]
RewriteRule ^system/bingo2$ model/game/bingo2/xuly.php [L]
RewriteRule ^system/bingo3$ model/game/bingo3/xuly.php [L]
RewriteRule ^system/bingo4$ model/game/bingo4/xuly.php [L]
RewriteRule ^system/latthe$ model/latthe/xuly.php [L]
RewriteRule ^system/latthe2$ model/latthe2/xuly.php [L]

 # Rewrite ADMIN
 RewriteRule ^admin/luotquay$ admin/?modun=luotquay&act=index [L]
RewriteRule ^admin/resetlichsu$ admin/?modun=resetlichsu&act=index [L]
RewriteRule ^admin/homthinhbian$ admin/?modun=homthinhbian&act=index [L]
RewriteRule ^admin/homthinhbian/page=([0-9]+)$ admin/?modun=homthinhbian&act=index&page=$1 [L]

RewriteRule ^admin/rutkimcuong$ admin/?modun=rut_kim_cuong&act=index [L]
RewriteRule ^admin/rutkimcuong/page=([0-9]+)$ admin/?modun=rut_kim_cuong&act=index&page=$1 [L]

RewriteRule ^admin/bingochoithu$ admin/?modun=setting_try&act=index [L]

RewriteRule ^admin/kimcuong$ admin/?modun=kimcuong&act=index [L]
RewriteRule ^admin/kimcuong/page=([0-9]+)$ admin/?modun=kimcuong&act=index&page=$1 [L]

RewriteRule ^admin/bingo$ admin/?modun=bingo&act=index [L]
RewriteRule ^admin/thenap$ admin/?modun=thenap&act=index [L]
RewriteRule ^admin/thenap/page=([0-9]+)$ admin/?modun=thenap&act=index&page=$1 [L]
RewriteRule ^admin/users$ admin/?modun=account&act=index [L]
RewriteRule ^admin/users/page=([0-9]+)$ admin/?modun=account&act=index&page=$1 [L]

RewriteRule ^admin/list_acc_random/(.*)$ admin/?modun=random_freefire&act=list_random&cname=$1 [L]
RewriteRule ^admin/list_acc_random_lq/(.*)$ admin/?modun=random_lienquan&act=list_random_lq&cname=$1 [L]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “alt-php56” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-alt-php56 .php .php5 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
